@model Client.Models.GameViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Informações do jogo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearPublished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearPublished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayTimeMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayTimeMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Designer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Designer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            Gênero
        </dt>
        <dd class="col-sm-10">
            @(string.Join(", ", Model.Genres.Select(g => g.Name)))
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.IsAdmin) 
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id})
        <br>
    }
        <a asp-action="Index">Back to List</a>
</div>
