@model IEnumerable<Client.Models.GameViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Jogos</h1>

<p>
    <a asp-action="Create">Adicionar Jogo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Núm. de Identificação
               
            </th>
            <th>
                Título
            </th>
            <th>
                Descrição
            </th>
            <th>
                Fabricante
            </th>
            <th>
                Ano de lançamento
            </th>
            <th>
                Mín. de jogadores
            </th>
            <th>
                Máx. de jogadores
            </th>
            <th>
                Tempo por partida
            </th>
            <th>
                Criador
            </th>
            <th>
                Lançado para Aluguel 
            </th>
            <th>
                Gênero
            </th>
            <th>
            </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @(string.Join(", ", item.Genres.Select(g => g.Name)))
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
